.header__title {
  color:white;
  margin-top:20px;
  font-size: 30px;
}

.app__main {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.main__cripto-list {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}