@import '~antd/dist/antd.css';

.header__title {
  color:white;
  margin-top:20px;
  font-size: 30px;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #7d44fc;
  min-height: 100vh;
  width: 100vw;
};